<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShoppingTestSuite">
  <test thread-count="5" name="SanityTests">
    <classes>
      <class name="shoppingsitetests.ErrorValidations"/>
      <class name="shoppingsitetests.PlaceOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
